{% extends 'base.html.twig' %}

{% block body %}
<h1>Bienvenue dans ce blog</h1>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus eum perferendis quis repellendus sint. Assumenda
    dignissimos eum exercitationem mollitia possimus quia rerum veniam, voluptatem! Architecto assumenda corporis culpa
    debitis eligendi hic magnam molestias officia porro praesentium, quas quo reprehenderit sapiente.
</p>
<p>Cupiditate
    ipsam quia quod tempora! Esse fugiat iusto optio ut voluptate. Atque debitis excepturi labore molestias optio quas
    quidem quod rem tempora tenetur vel, velit vitae. Cumque, cupiditate doloremque ducimus excepturi exercitationem
    fugit itaque libero nam quibusdam quod rerum velit!
</p>
{% endblock %}