{% extends'base.html.twig' %}
{% block body %}
<h1>Hello World!</h1>
<h2>Bienvenue sur mon blog!</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, adipisci alias blanditiis, doloribus minima
    nostrum, odio officiis reiciendis rerum suscipit totam unde vitae? Accusamus assumenda enim iusto laudantium quaerat
    quidem sunt vel voluptatum. Dolorem earum inventore nihil sapiente. Ducimus, numquam.</p>
<p>Accusantium aperiam aut blanditiis eius enim eos incidunt, itaque, magnam optio ratione temporibus ullam vel veniam!
    Assumenda cupiditate, enim eos facere fuga fugit illo itaque magnam nisi omnis optio quam, qui quidem repudiandae,
    sint soluta velit. Dignissimos exercitationem laboriosam similique.</p>
<p>Alias animi asperiores autem consequuntur debitis dolor dolore dolorem excepturi, explicabo ipsam itaque laboriosam,
    laudantium maxime nam nesciunt obcaecati, officiis praesentium quas reiciendis reprehenderit saepe sequi velit
    voluptatem. Animi et explicabo ipsa ipsum mollitia natus nisi possimus qui reiciendis. Neque.</p>
<p>Doloremque, eveniet illo, illum in laboriosam laborum magnam magni nam nulla, obcaecati quae temporibus vel
    voluptate. Assumenda aut cupiditate ea, eius illum minima optio recusandae totam veritatis voluptas. Ab dolore earum
    eum expedita, labore nam nisi nobis quas quisquam unde!</p>
{% endblock %}